{% extends 'base.html' %}

{% block titulo %}Cursos{% endblock %}

{% block conteudo %}

<h2>Cursos Disponíveis</h2>

<p>
    A Escola Futuro oferece cursos voltados para tecnologia
    e informática.
</p>

<h3>Lista de Cursos</h3>

<ul>
    <li>Informática Básica</li>
    <li>Programação Web</li>
    <li>Banco de Dados</li>
    <li>Redes de Computadores</li>
    <li>Design Digital</li>
</ul>

<h3>Objetivo dos Cursos</h3>

<p>
    Os cursos ajudam os alunos a desenvolver habilidades
    importantes para o mercado de trabalho.
</p>

{% endblock %}