{% extends 'base.html' %}

{% block titulo %}Início{% endblock %}

{% block conteudo %}

<h2>TechFuture</h2>

<p>
    Este sistema foi criado para ajudar os alunos da Escola Futuro.
</p>

<p>
    Aqui você pode acessar informações sobre cursos,
    professores e formas de contato com a escola.
</p>

<h3>O que você encontra no sistema?</h3>

<ul>
    <li>Lista de cursos disponíveis</li>
    <li>Informações dos professores</li>
    <li>Contato da escola</li>
    <li>Navegação simples e rápida</li>
</ul>

<p>
    Utilize o menu acima para acessar as páginas.
</p>

{% endblock %}