{% extends 'base.html' %}

{% block titulo %}Professores{% endblock %}

{% block conteudo %}

<h2>Equipe de Professores</h2>

<p>
    Nossa escola possui professores qualificados
    em diversas áreas da tecnologia.
</p>

<ul>
    <li>Ana Silva - Programação</li>
    <li>João Santos - Banco de Dados</li>
    <li>Maria Oliveira - Redes</li>
    <li>Carlos Lima - Informática</li>
</ul>

<h3>Missão dos Professores</h3>

<p>
    Os professores auxiliam os alunos no aprendizado
    teórico e prático durante os cursos.
</p>

{% endblock %}