<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Resultado</title>

<style>

body{
background-color: skyblue;
font-family: Arial;
padding: 20px;
}

.caixa{
background-color: white;
width: 320px;
padding: 20px;
border-radius: 10px;
}

h1{
color: blue;
}

p{
font-size: 18px;
}

</style>

</head>

<body>

<div class="caixa">

<h1>Suas Informações</h1>

<p>Seu nome é: {{ nome }}</p>
<p>Você faz o curso de: {{ curso }}</p>
<p>Você mora em: {{ cidade }}</p>
<p>Seu e-mail é: {{ email }}</p>

</div>

</body>
</html>